* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

.full {
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
    /* outline: 2px solid blue; */
}

.center {
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
    /* outline: 2px solid red; */
}

/* HEADER */
.header {
    padding-top: 27px;
    padding-bottom: 26px;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left_block {
    display: flex;
    gap: 60px;
}

.main_logo {
    width: 70px;
    height: 70px;
}

.header_nav {
    display: flex;
    gap: 45px;
    align-items: center;
}

.header_nav_txt {
    color: #292D32;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header_nav_search {
    margin-left: 5px;
}

.header_account {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header_account_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    border: none;
    background-color: transparent;
}

.btn_header_account {
    border: none;
    background-color: transparent;
}

.header_account_cart {
    position: relative;
}

.header_account_cart::after {
    content: "3";
    width: 16px;
    height: 16px;
    background-color: #48A4EB;
    right: 0px;
    top: 0px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-button {
    color: white;
    border: none;
    position: relative;
}

.menu-container {
    max-width: 140px;
    max-height: 250px;
    position: relative;
}

.menu {
    display: none;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: -500%;
    left: 620%;
    background-color: #fff;
    flex-direction: column;
    /* gap: 40px; */
    padding: 30px 30px 0px 30px;
    width: 405px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.menu_acc {
    margin-bottom: 10px;
}

.menu a {
    height: 70px;
    display: flex;
    align-items: center;
    /* display: block; */
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* margin: 20px 20px 20px 0px; */
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.menu a:hover {
    background-color: #f0f0f0;
}

/* HEADER */
/* SLIDER */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.slider_container_full {
    background-color: #F2F2F2;
}

.slider-container {
    width: 100%;
    position: relative;
    min-height: 683px;
    margin-bottom: 154px;
}

.slide {
    width: 100%;
    display: none;
    height: 555px;
    width: 557px;
    position: relative;

}

.dell_bcg_slider {
    position: absolute;
    left: 0px;
    top: 97px;
}

.slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 530px;
    top: 74px;
}

.slide_to_catalog {
    position: relative;
}

.anchor_to_catalog {
    max-width: 113px;
    height: 19px;
    color: #838383;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transform: rotate(-90deg);
    position: absolute;
    top: 400px;
    left: -320px;
}

.catalog_anchor_svg {
    position: absolute;
    transform: rotate(90deg);
    top: -10px;
    left: -42px;
}

.slide-content {
    position: absolute;
    top: 76px;
    left: 117px;
    z-index: 5;
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* gap: 15px; */
    /* text-align: center; */
    padding: 1rem;
}

.slide_uptitle {
    color: #838383;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 133.687%;
    width: 68%;
    margin-bottom: 15px;
}

.slide-title {
    width: 100%;
    max-width: 50rem;
    color: #292D32;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 74px;
}

.slide-desc {
    width: 100%;
    max-width: 50rem;
    color: lightgray;
    font-size: 1rem;
    font-weight: 300;
}

.slide_btn {
    background-color: transparent;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s;
    color: #292D32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
}

.slide_btn::before {
    content: "→";
    width: 55px;
    height: 55px;
    background-color: #48A4EB;
    right: 92px;
    top: -14px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Circe;
    font-size: 18.743px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.143px;
}

.slide_btn_position {
    position: absolute;
    bottom: 170px;
    left: 80px;
}

.slide-number-container {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 5;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: rgba(211, 211, 211, 0.788);
    letter-spacing: 0.2rem;
}

.slide-number-container hr {
    width: 3rem;
    transform: rotate(130deg);
    border-color: rgba(211, 211, 211, 0.788);
}

.dot-container {
    position: absolute;
    bottom: 8rem;
    left: 360px;
    z-index: 4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}

.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    background-color: #D0D0D0;
    border-radius: 50%;
    display: inline-block;
    transition: ease 0.3s;
    position: relative;
}

.active,
.dot:hover {
    background-color: #292d32;
    height: 9px;
    width: 9px;
}

.slider-nav {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.slider-nav-btn {
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s;
    position: absolute;
    left: -250px;
    top: -136px;
}

.slider-nav-btn:hover {
    /* background-color: white; */
    color: black;
}



.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

/* SLIDER */

/* CATALOG */
.catalog_container {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    grid-template-rows: repeat(2, 371px);
    grid-gap: 40px;
    margin: 0 auto;
    margin-bottom: 220px;
}

.catalog_item {
    position: relative;
    border-radius: 20px;
}

.catalog_item:nth-child(odd) {
    background-color: transparent;
    color: #000;
}

.catalog_item:nth-child(even) {
    background-color: #F2F2F2;
    color: #fff;
}

.catalog_item_btn {
    padding: 40px 0px 40px 40px;
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.catalog_item_btn:nth-child(odd) {
    background-color: transparent;
    color: #000;
}

.catalog_item_btn:hover {
    background-color: #dfdddd;
}

.catalog_item_num {
    margin-bottom: 186px;
    color: #292D32;
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%;
}

.catalog_amount {
    margin-bottom: 5px;
    color: #838383;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 133.687%;
}

.catalog_name {
    color: #292D32;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.catalog_img {
    max-width: 415px;
}

.catalog_laptop {
    position: absolute;
    top: -10px;
    left: 13px;
}

.catalog_pc {
    position: absolute;
    top: -21px;
    right: 58px;
}

.catalog_servers {
    position: absolute;
    top: 81px;
    right: 52px;
}

.catalog_emc {
    position: absolute;
    top: 59px;
    right: 76px;
}

.catalog_reserve_emc {
    position: absolute;
    top: 38px;
    right: 30px;
}

.catalog_title {
    color: #292D32;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 29px;
}

.catalog_subtitle {
    margin-bottom: 60px;
    color: #838383;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    max-width: 372px;

}

.catalog_link_position {
    position: absolute;
    top: 280px;
    left: 75px;
}

.catalog_btn {
    background-color: transparent;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s;
    color: #292D32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
}

.catalog_btn::before {
    content: "→";
    width: 55px;
    height: 55px;
    background-color: #48A4EB;
    right: 92px;
    top: -14px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Circe;
    font-size: 18.743px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.143px;
}

/* CATALOG */

/* ADVANTAGES */
.advantages {
    background-color: #F2F2F2;
    position: relative;
    padding-top: 152px;
    box-sizing: border-box;
    max-height: 964px;
}

.advantages_container {
    height: 813px;
}

.best_quality_bcg {
    position: absolute;
    left: 0px;
    max-width: 897px;
    width: 100%;
    font-size: 187px;
    font-style: normal;
    font-weight: 1000;
    line-height: 173.326px;
    text-transform: uppercase;
    opacity: 0.7;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.adv_top {
    display: flex;
    position: relative;

}

.adv_laptop_img {
    max-width: 874px;
    position: absolute;
    left: -80px;
    top: -65px;
}

.adv_top_wrp {
    max-width: 518px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 714px;
    /* top: 93px; */
    position: relative;
}

.adv_title {
    color: #292D32;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 37px;
}

.adv_subtitle {
    color: #838383;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 55px;
}

.adv_link {
    color: #838383;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.adv_link_position {
    position: absolute;
    top: 223px;
    left: 55px;
}

.adv_btn {
    background-color: transparent;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s;
    color: #292D32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
}

.adv_btn::before {
    content: "→";
    width: 55px;
    height: 55px;
    background-color: #48A4EB;
    right: 130px;
    top: -14px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Circe;
    font-size: 18.743px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.143px;
}

.adv_card {
    margin-top: 276px;
    display: flex;
    gap: 27px;
}

.adv_card_item {
    max-width: 330px;
    width: 100%;
    min-height: 289px;
    background-color: #292D32;
    border-radius: 20px;
    position: relative;
    padding: 0px 0px 35px 30px;
    box-sizing: border-box;
}

.adv_icon_wrp {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #343A41;
    margin-bottom: 25px;
    margin-top: 30px;
}

.adv_card_bluelight {
    position: absolute;
    right: 0px;
}

.adv_card_item_title {
    max-width: 272px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 13px;
}

.adv_card_item_subtitle {
    max-width: 276px;
    color: #B7B7B7;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* ADVANTAGES */

/* NEWS */
.news_container {
    padding-top: 172px;
}

.news_header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.news_title {
    color: #292D32;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 0px 25px 0px;
}

.news_subtitle {
    color: #838383;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    max-width: 721px;
    margin-bottom: 69px;
}

.news_link_position {
    position: absolute;
    right: 60px;
}

.news_btn {
    background-color: transparent;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s;
    color: #292D32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
}

.news_btn::after {
    content: "→";
    width: 55px;
    height: 55px;
    background-color: #48A4EB;
    right: -60px;
    top: -14px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Circe;
    font-size: 18.743px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.143px;
}

.news_card_container {
    display: grid;
    grid-template-columns: repeat(3, 415px);
    grid-template-rows: repeat(2, 364px);
    grid-gap: 65px;
    margin: 0 auto;
    margin-bottom: 540px;

}

.news_card_item {
    /* background-color: #292d32; */
    position: relative;
    -webkit-box-shadow: 0px 22px 17px -20px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 22px 17px -20px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 22px 17px -20px rgba(34, 60, 80, 0.2);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.news_card_item_bcg {
    background-size: cover;
    position: absolute;
}

.news_card_title::after {
    content: "";
    top: -170px;
    left: 352px;
    position: absolute;
    width: 50px;
    height: 97px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 17px 51px -17px rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.news_card_item_whiteplace {
    position: absolute;
    bottom: 0px;
}

.news_card_title {
    max-width: 268px;
    color: #292D32;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    position: absolute;
    top: 239px;
    left: 30px;
}

.news_card_title_date {
    color: #292D32;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    top: -150px;
    left: 365px;
    z-index: 1;
}

.news_card_title_month {
    color: #292D32;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    top: -113px;
    left: 364px;
    z-index: 1;
}

.news_card_subtitle {
    color: #292D32;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: absolute;
    top: 318px;
    left: 30px;
}

.news_card_item_btn {
    position: relative;
    background-color: transparent;
    border: none;
}

.news_card_btn_stuff {
    position: absolute;
    top: 228px;
    left: 306px;
}

.news_card_btn_circle {
    position: absolute;
    top: 219px;
    left: 322px;
}

.vector {
    content: "→";
    width: 55px;
    height: 55px;
    left: 329px;
    top: 225px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Circe;
    font-size: 18.743px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.143px;
}

/* NEWS */
/* FORM */
.form {
    display: block;
    max-height: 676px;
    background-color: #eee;
    position: relative;
    margin-top: 346px;
    margin-bottom: 60px;
}

.bcg_txt {
    position: absolute;
    bottom: 20px;
    font-size: 255px;
    font-style: normal;
    font-weight: 1000;
    line-height: 92.687%;
    text-transform: uppercase;
    opacity: 0.6;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.85) 11.75%, rgba(255, 255, 255, 0.00) 162.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form_container {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 700px;
}

.form_container_upper {
    bottom: 389px
}

.our_contacts {
    padding: 100px 158px 111px 100px;
    background-color: #F9F9F9;
    border-radius: 20px 0px 0px 20px;
    flex: 1;
}

.our_contacts_title {
    color: #292D32;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.our_contacts_subtitle {
    color: #838383;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 18px;
}

.our_contacts_address {
    margin-top: 48px;
    margin-bottom: 47px;
}

.our_contacts_email {
    margin-bottom: 72px;
}

.our_contacts_phone {
    margin-bottom: 60px;
}

.our_contacts_flex {
    display: flex;
    gap: 17px;
}

.address_point {}

.word_address_position {
    margin: 5px 0px 8px 0px;
}

.word_email_position {
    margin: 3px 0px 8px 0px;
}

.word_phone_position {
    margin: 5px 0px 8px 0px;
}

.our_contacts_word {
    color: #838383;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.687%;
}

.our_contacts_name {
    color: #292D32;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 358px;
}

.form_block {
    border-radius: 0px 20px 20px 0px;
    background: #292D32;
    padding: 100px 129px 103px 129px;
    box-sizing: border-box;
    flex: 1;
    position: relative;
}

.form_block_title {
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 18px;
}

.form_block_subtitle {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 66px;
}

#form_block_name, #form_block_phone, #form_block_comment {
    width: 434px;
    height: 59.25px;
    flex-shrink: 0;
    stroke-width: 1.5px;
    border: 1px solid rgba(242, 242, 242, 0.50);
    border-radius: 20px;
    background-color: transparent;
    padding: 0px 5% 0px 5%;
    box-sizing: border-box;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 53px;
}

#form_block_comment {
    min-height: 145px;
    resize: none;
    padding: 10px;
}

.form_block_name_txt, .form_block_phone_txt, .form_block_comment_txt {
    color: #F2F2F2;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 133.687%;
    display: flex;
    justify-content: center;
}

.form_block_leftup_corner_name {
    position: absolute;
    top: 246px;
    left: 152px;
    width: 102px;
    height: 27px;
    background-color: #292D32;
}

.form_block_leftup_corner_phone {
    position: absolute;
    top: 357px;
    left: 152px;
    width: 160px;
    height: 27px;
    background-color: #292D32;
}

.form_block_leftup_corner_comment {
    position: absolute;
    top: 470px;
    left: 152px;
    width: 136px;
    height: 27px;
    background-color: #292D32;
}

.form_block_link_position {
    position: absolute;
    bottom: 114px;
    left: 204px;
}

.form_block_btn {
    background-color: transparent;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s;
    position: relative;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.form_block_btn::before {
    content: "→";
    width: 55px;
    height: 55px;
    background-color: #48A4EB;
    right: 92px;
    top: -14px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Circe;
    font-size: 18.743px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.143px;
}

.form_smartphone_rel {
    position: relative;
}

.form_smartphone_abs {
    position: absolute;
    top: 152px;
    left: 492px;
}

.body_phone, .screen_phone {
    position: absolute;
}

.screen_phone {
    position: absolute;
    right: -262px;
    top: 28px;
}

/* FORM */

/* FOOTER */
.footer {}

.footer_container {
    display: flex;
    gap: 180px;
}

.footer_logo {
    margin-top: 29px;
    margin-right: 10px;
    max-width: 112px;
    width: 100%;
    max-height: 112px;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_links_title {
    margin-bottom: 5px;
    color: #292D32;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_links_item {
    color: #292D32;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_grey_line {
    width: 100%;
    height: 1px;
    background: #E5E5E5;
    margin-top: 60px;
}

.footer_contacts {
    display: flex;
    gap: 153px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.footer_contacts_email {
    margin-bottom: 72px;
}

.footer_contacts_phone {
    margin-bottom: 60px;
}

.footer_contacts_flex {
    display: flex;
    gap: 17px;
}

.footer_contacts_word {
    color: #838383;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.687%;
    margin-bottom: 11px;
}

.footer_contacts_name {
    color: #292D32;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 404px;
}

.footer_contacts_messengers_position {
    position: absolute;
    top: 13px;
}


/* FOOTER */